<div class="day6-shell">

  <h2 class="text-primary mb-4 text-center">
    Day 6 - NgRx Store
  </h2>

  <div class="d-flex gap-2 mb-4 justify-content-center">

    <a
      routerLink="/day6/counter"
      class="btn btn-primary"
    >
      Counter
    </a>

    <a
      routerLink="/day6/products"
      class="btn btn-success"
    >
      Products
    </a>

    <a
      routerLink="/day6/session-storage"
      class="btn btn-warning"
    >
      Session Storage
    </a>

  </div>

  <router-outlet></router-outlet>

</div>
