<div class="container py-4">

  <div *ngIf="!authService.isLoggedIn()">

    <div
      class="row justify-content-center"
      *ngIf="!showRegistrationForm"
    >

      <div class="col-md-8 col-lg-5">
        <app-user-login
          (signupClicked)="showRegistration()"
        >
        </app-user-login>
      </div>

    </div>

    <div
      class="row justify-content-center"
      *ngIf="showRegistrationForm"
    >

      <div class="col-md-8 col-lg-5">

        <button
          type="button"
          class="btn btn-link px-0 mb-3"
          (click)="showLogin()"
        >
          Back to login
        </button>

      <app-user-registration
        (registrationCompleted)="showLogin()"
      >
      </app-user-registration>

      </div>

    </div>

  </div>

  <app-users-list *ngIf="authService.isAdmin()"></app-users-list>

</div>
