<div class="card p-4">

  <h3>Reactive Form - FormGroup</h3>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >

    <div class="mb-3">

      <label>Email</label>

      <input
        type="email"
        class="form-control"
        formControlName="email"
      >

    </div>

    <div class="mb-3">

      <label>Password</label>

      <input
        type="password"
        class="form-control"
        formControlName="password"
      >

      <small
        class="text-danger"
        *ngIf="
          form.controls.password.errors?.['passwordStrength']
        "
      >
        Password must contain:
        1 uppercase,
        1 number,
        minimum 8 characters
      </small>

    </div>

    <button
      class="btn btn-success"
      [disabled]="form.invalid"
    >
      Submit
    </button>

  </form>

</div>